@model Rocky_Models.ViewModel.DetailsVM

@using Rocky_Utility
<style>
    #hoverr:hover{
        background:#ffe4e1 !important;
    }
</style>
<div class="">
    <form method="post" style="padding-top:80px!important;">
        <input asp-for="@Model.Product.Id" hidden /> <!--để dễ dàng truy cập vào details post-->
        <div class="container backgroundWhite pt-4">
            <div class="card" style="border:1px solid #000000; ">
                <div class="card-header bg-dark text-light ml-0 row container" style="border-radius: 0px; background:#ffe4e1 !important;">
                    <div class="col-12 col-md-6">
                        <h1 class="text-white" style="color:crimson!important;">@(Model.Product.Name)</h1>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <h1 class="text-warning"> @((Model.Product.Price).ToString("c"))</h1><!--đổi sang tiền tệ-->
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-4 p-1 text-center">
                                <img src="@WC.ImagePath@Model.Product.Image" width="100%" class="rounded" /> <!--lấy hình ảnh-->
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="row pl-3">

                                    <div class="col-12">
                                        <span class="badge p-3 border text-dark" style="background-color:lavenderblush">@Model.Product.Category.Name</span>
                                        <span class="badge p-3 border text-dark" style="background-color:azure">@Model.Product.ApplicationType.NameApp</span>
                                        <h3 class="text-success"></h3>

                                        <p class="text-secondary">@Html.Raw(Model.Product.Description) </p><!--vì đã sử dụng summer note-> html.raw()-->
                                    </div>
                                
                                    <div class="col-12">Sqft:</div>
                                    <div class="col-12">
                                       @if (Model.ExistsInCart)
                                        {
                                           <input asp-for="@Model.Product.TempSqFt" disabled class="form-control" />
                                        }
                                       else
                                       {
                                          <input asp-for="@Model.Product.TempSqFt" class="form-control" />
                                       }
                                          <span asp-validation-for="@Model.Product.TempSqFt" class="text-danger"></span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-dark" style="background:#ffe4e1 !important;">
                    <div class="row">
                        <div class="col-12 col-md-6 pb-1 ">
                            <a id="hoverr" asp-action="Index" class="btn btn-success btn-square form-control btn-lg" style="height:50px; background:white!important; color:crimson!important;">Back to List</a>
                        </div>
                        <div class="col-12 col-md-6 ">
                            @if (Model.ExistsInCart)
                            {
                                <a id="hoverr" asp-action="RemoveFromCart" asp-route-id="@Model.Product.Id" class="btn btn-warning btn-square form-control btn-lg" style="height:50px; background:white!important; color:crimson!important;">Remove from Cart</a>
                            }
                            else
                            {
                                <button id="hoverr" type="submit" asp-action="DetailsPost" asp-route-id="@Model.Product.Id" class="btn btn-info form-control btn-lg" style="height:50px; background:white!important; color:crimson!important;">Add to Cart</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}