@model Rocky_Models.ViewModel.CartVM
@using Rocky_Utility

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/InputCoupon.css" />
</head>


@if (Model.ProdList.Count() > 0)
{
    <form method="post" style="padding-top:80px !important; padding-left:110px !important">
        <br />
        <div class="backgroundWhiteBorder">
            <div class="container row">
                <div class="col -8">
                    <div class="card mt-4">
                        <div class="card-header bg-dark text-light ml-0 row container" style="background:#ffe4e1!important;">
                            <div class="col-6" style="color:crimson!important;">
                                <i class="fa fa-shopping-cart"></i> &nbsp;
                                Shopping Cart
                            </div>
                            <div class="col-6 text-right">
                                <a asp-action="Clear" class="btn btn-outline-warning btn-sm" style="color:crimson!important;">Clear Cart</a>
                                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info btn-sm" style="color:crimson!important;">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class=" d-none d-lg-block">
                                <div class="row" style="color:#821f3d">
                                    <div class="col-lg-2">
                                    </div>

                                    <div class="col-12 col-lg-3">
                                        Product Details
                                    </div>

                                    <div class="col-12 col-lg-2">
                                        Price per sqft
                                    </div>

                                    <div class="col-6 col-lg-2">
                                        sqft
                                    </div>
                                    <div class="col-6 col-lg-2">
                                        Total price
                                    </div>

                                    <div class="col-6 col-sm-4 col-lg-1">
                                    </div>
                                </div>
                            </div>

                            <hr />
                            @{
                                var orderTotal = 0.0;
                            }
                            @for (int i = 0; i < Model.ProdList.Count(); i++)
                            {
                                <input hidden asp-for="@Model.ProdList[i].Id" />
                                <div class="row h-100">
                                    <div class="col-4 col-md-2 text-center py-2">
                                        <img src="@WC.ImagePath@Model.ProdList[i].Image" class="rounded" width="100%" />
                                    </div>

                                    <div class="col-8 col-lg-3">
                                        <h5>@Model.ProdList[i].Name</h5>
                                    </div>

                                    <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                        <span style="font-size:17px;"> $@Model.ProdList[i].Price</span>/ sqft
                                    </div>

                                    <div class="col-4 col-lg-2 pt-lg-4" style="font-size:11px;">
                                        <input type="text" asp-for="@Model.ProdList[i].TempSqFt" class="form-control" />
                                        <span asp-validation-for="@Model.ProdList[i].TempSqFt" class="text-danger"></span>
                                    </div>
                                    <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                        <span style="font-size:17px;"> $@(Model.ProdList[i].Price* Model.ProdList[i].TempSqFt)</span>
                                    </div>
                                    @*}*@
                                    <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                        <a asp-action="Remove" asp-route-id="@Model.ProdList[i].Id" class="btn btn-outline-danger">
                                            <i class="fas fa-trash" style="color:#ffe4e1!important;"></i>
                                        </a>
                                    </div>
                                </div>
                                orderTotal += Model.ProdList[i].Price * Model.ProdList[i].TempSqFt;
                                <hr />
                            }

                            <input id="totaltemp" value="@orderTotal" type="hidden" />
                            <input id="total" asp-for="Total" value="@orderTotal" type="hidden" />
                            <div class="container">
                                <div class="form-inline">
                                    <div class="form-group coupon-form">
                                        <label for="Coupon" class="form-coupon-label">Coupon</label>
                                        <input type="text"
                                               class="form-control form-coupon-input mx-sm-3 mb-2"
                                               id="Coupon"
                                               placeholder="Enter Coupon"
                                               style="color: crimson" />

                                        <div onclick="ValidateCoupon()" id="apply-coupon" class="btn mb-2">
                                            Apply
                                        </div>
                                    </div>
                                    <div class="wrong-coupon">
                                        <label class="wrong-coupon-content">
                                            Sorry, This voucher code could not be found. Please double check the
                                            code and expiration date.

                                        </label>
                                        <i class="far fa-times-circle"></i>
                                    </div>


                                </div>

                            </div>


                            <div class="row">
                                <div class="col-12 text-right pr-4" style="color:#821f3d" id="Discount">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-right pr-4" style="color:#821f3d" id="Total">
                                    Order Total :  @string.Format("{0:c}", orderTotal);
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6 col-md-3 offset-md-6">
                                    @*@if(User.IsInRole(WC.AdminRole))
                                        {*@
                                    <input type="submit" asp-action="UpdateCart" formmethod="post" name="Update" value="Update Cart" class="btn btn-info form-control" style="color:white !important;" />
                                    @*}*@
                                </div>
                                <div class="col-6 col-md-3">
                                    <button type="submit" class="btn btn-success form-control ">
                                        <span>Continue</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <p>Please add items to cart.</p>
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        function ValidateCoupon() {
            var inputTest = document.getElementById("Coupon").value;
            var total = document.getElementById("totaltemp").value;


            var CouponCode =  @Html.Raw(Json.Serialize(ViewBag.couponCode));
            var DisCount = @Html.Raw(Json.Serialize(ViewBag.disCount));
            //check
            var result = CouponCode.indexOf(inputTest);

            if (result < 0) {
                $("#Coupon").css("border-color", "red");
                $(".wrong-coupon").css("display", "grid");
                return false;
            }
            else {
                var dc = DisCount[result];
                console.log(dc);
                var x = (total * dc) / 100;
                var y = total - x;
                document.getElementById("Discount").innerHTML = "Discount " + dc + "%: $" + x + ".00";
                document.getElementById("total").value = total - x;
                document.getElementById("Total").innerHTML = "Order Total:  $" + y + ".00";
            }
        }
        $(document).ready(function () {
            $(".fa-times-circle").click(function () {
                $(".wrong-coupon").hide();
            })
        });
    </script>
}
